.instafeed {
  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.icon-mini img {
    display: inline-block;
    margin: 0 2rem;
    min-width: 2.5rem;
    filter: invert(66%) sepia(58%) saturate(417%) hue-rotate(348deg) brightness(88%) contrast(85%);
  }

  .feed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a:after {
      content: '' // hide external link icon
    }

    img {
      flex: 1;
    }
  }
  
  &-image {
    width: calc(50% - calc(#{$margin-mobile} / 4));
    margin-bottom: calc(#{$margin-mobile} / 2);
  }
}

@media screen and (min-width: $bp-medium) {
  .instafeed {
   width: 80%;
   margin: $margin-screen auto;

   a.icon-mini img {
    min-width: 3.5rem;
  }
    
    &-image {
      width: calc(calc(100% / 4) - #{$margin-screen} / 2); 
      margin: calc(#{$margin-screen / 4});
      position: relative;
    }

    &-image a {
      position: relative;
      display: block;

      img { filter: blur(1px); }

      @include imageSeeMoreFlag($c-darkgrey, "Voir la publication");
    }
  }
}