.instafeed {
  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.icon-mini img {
    display: inline-block;
    min-width: 2.5rem;
    filter: invert(66%) sepia(58%) saturate(417%) hue-rotate(348deg) brightness(88%) contrast(85%);
  }

  a.icon-mini:hover img {
    filter: invert(9%) sepia(90%) saturate(3830%) hue-rotate(348deg) brightness(98%) contrast(102%);
  }

  .feed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a:after {
      content: '' // hide external link icon
    }

    img {
      flex: 1;
    }
  }
  
  &-image {
    width: calc(50% - calc(#{$margin-mobile} / 4));
    margin-bottom: calc(#{$margin-mobile} / 2);
  }
}

@media screen and (min-width: $bp-medium) {
  .instafeed {
   width: 80%;
   margin: $margin-screen auto;

   a.icon-mini img {
    min-width: 3.5rem;
  }
    
    &-image {
      width: calc(calc(100% / 4) - #{$margin-screen} / 2); 
      margin: calc(#{$margin-screen / 4});
      position: relative;
    }

    &-image a {
      position: relative;
      display: block;

      img { filter: blur(1px); }

      &:before {
        content: 'Voir la publication';
        position: absolute;
        bottom: -1%;
        display: block;
        background-color: rgba($c-white, .9);
        z-index: 1;
        width: 102%;
        left: -1%;
        padding: calc(#{$padding-screen} / 2);
        text-align: center;
        font-family: $font-title;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8rem;
        color: $c-darkgrey;
      }
      
      @media screen and (prefers-reduced-motion: no-preference) {
        &:before {
          transform: scaleY(0);
          transition: $t-basic;
        }

        img { 
          filter: blur(0px);
          transition: $t-basic;
        }

        &:hover {
          img {
            filter: blur(1px);
          }
  
          &:before {
            transform: scaleY(1);
          }
        }
      }
    }
  }
}