footer {
  display: none;
  background-color: $c-tertiary;
  margin-top: $margin-mobile;

  h3 {
    color: $c-neutral;
  }
}

@media screen and (min-width: $bp-medium) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    margin-top: $margin-screen;

    padding: $padding-screen;
    border-top: 2px solid $c-white;

    .footer-labels, .footer-links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      margin-bottom: $margin-mobile;
    }

    .footer-links {
      h3 {
        margin: $padding-mobile 0;
      }
      li {
        margin: calc(#{$padding-mobile} / 2) 0;
      }
  
      .list-link, .list-link:visited {
        color: $c-white;
      }
    }

  }
}