.block-testimonial {
  padding: $padding-mobile;
  margin: 0 calc(#{$margin-mobile} / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    picture {
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    img {
      max-width: 150px;
      height: 150px;
      border-radius: 50%;
      align-self: center;
    }

    .label-pro {
      width: fit-content;
      background-color: $c-darkgrey;
      color: $c-white;
      text-transform: uppercase;
      font-weight: 800;
      font-size: .7rem;
      padding: calc(#{$padding-mobile} / 4.5) calc(#{$padding-mobile} / 2);
      border-radius: 5%;
      margin: calc(#{$padding-mobile} / 2) 0
    }
    
    blockquote {
      padding: $padding-mobile calc(#{$padding-mobile} / 2);
    }
    
    figcaption {
      padding: $padding-mobile 0;
      font-family: $font-title;
      text-align: right;
    }  
}

@media screen and (min-width: $bp-medium) {
  .block-testimonial {
      padding: $padding-screen;
      margin: 0 calc(#{$margin-screen} / 2);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    
    img {
      flex: 2;
      max-width: 220px;
      height: 220px;
    }

    .label-pro {
      margin: calc(#{$padding-screen} / 2) 0;
      padding: calc(#{$padding-screen} / 6) calc(#{$padding-screen} / 4);
    }

    blockquote {
      font-size: $font-medium;
      flex: 1;
      padding: $padding-screen;
      position: relative;

      &:before {
        content: '”';
        font-size: calc(5* #{$font-large});
        font-family: $font-title;
        opacity: .1;

        top: 0 - 3.5rem;
        position: absolute;
        right: 0;
      }
    }
  
    figcaption {
      flex: 1 100%;
    }
  }
}