/* BOUTIQUE */
.shop {
  .paragraph.alert {
    flex: 1 100%;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    padding: $padding-mobile 0;
    justify-content: center;
  }

  .cards-categories {
    justify-content: space-between;
  }
  
  &-card { 
    position: relative;
    width: clamp(135px, calc(50% - calc(#{$margin-mobile} / 3)), 400px);
    margin: 0 calc(#{$margin-mobile} / 6) calc(#{$margin-mobile} / 2);
    min-height: 200px;
    height: fit-content;
    transition: all 0.2s ease-in-out;

    box-shadow: 0px 5px 10px rgba($c-lightgrey, 0.3);
    border-radius: 5px;
    padding: .5rem;
    
    // @include imageSeeMoreFlag($c-darkgrey, "Plus d'infos");
    // &::before {
    //   bottom: 4.5rem;
    // }

    .img-thumbnail {
      transition: all 0.2s ease-in-out;
    }

    &-infos {
      padding: calc(#{$padding-mobile} / 2) 0;
      line-height: 1.4rem;
    }
    
    &-infos--title {
      display: block;
      text-overflow: ellipsis;
      font-size: .9rem;
      overflow: hidden;
      max-width: 250px;
      color: $c-darkgrey;
      text-decoration: none;

      &:hover {
        color: $c-primary;
      }
    }

    &-infos--price {
      text-align: right;
      width: 4rem;
      font-weight: 800;
      font-size: $font-medium;
    }

    &-infos--stock {
      display: block;
      text-align: right;
      width: 100%;
    }

    &-labels {
      position: absolute;
      top: 0.5rem;
      left: -.67rem;
      z-index: 1;
    }

    &-label {
      background-color: $c-primary;
      padding: .25rem .5rem;
      font-size: $font-small;
      text-transform: uppercase;
      color: $c-white;
      font-weight: 700;

      &.bestseller { background-color: $c-secondary; }
      &.promo { background-color: $c-darkgrey; }
      &.newproduct { background-color: $c-tertiary; }
    }
  }
}

@media screen and (min-width: $bp-small){
  .shop {
    &-card {
      width: clamp(150px, calc(30% - calc(#{$padding-mobile} / 2)), 400px);
    }

    &-card:hover {
      box-shadow: 0px 5px 10px $c-lightgrey;
    }
  }
}

@media screen and (min-width: $bp-medium){
  .shop {
    &-cards {
      flex: 1 100%;
      justify-content: flex-start;
      padding: 0 $padding-screen;
    }

    &-card {
      width: clamp(170px, calc(33% - calc(#{$margin-screen} / 2)), 500px);
      margin: 0 calc(#{$margin-screen} / 4) calc(#{$margin-screen} / 2);

      &-infos--title {
        white-space: nowrap;
        font-size: initial;
      }
      
      &-infos--price {
        font-size: $font-medium;
      }
    }
  }
}

@media screen and (min-width: $bp-large){
  .shop {
    &-card {
      width: clamp(175px, calc(25% - calc(#{$margin-screen} / 2)), 400px);
      margin: 0 calc(#{$margin-screen} / 4) calc(#{$margin-screen} / 2);

      &-infos--title {
        white-space: nowrap;
        font-size: initial;
      }
    }
  }
}
