/* BOUTIQUE */
.shop {
  &-cards {
    display: flex;
    flex-wrap: wrap;
    padding: $padding-mobile;
    justify-content: center;
  }
  
  &-card {
    position: relative;
    padding: calc(#{$padding-mobile} / 2) calc(#{$padding-mobile} / 2) calc(#{$padding-mobile} * 2);
    width: clamp(calc(220px - #{$padding-mobile}), calc(30% - #{$padding-mobile}), calc(400px - #{$padding-mobile}));

    .button-secondary {
      position: absolute;
      bottom: 0;
      width: calc(100% - #{$padding-mobile});
      border-radius: 0 0 5px 5px;

      &:hover {
        background-color: $c-primary;
      }
    }
  }
}

@media screen and (min-width: $bp-medium){
  .shop {
    &-cards {
      flex: 1 75%;
      padding: $padding-screen;
    }

    &-card {
      padding: calc(#{$padding-screen} / 2) calc(#{$padding-screen} / 2) calc(#{$padding-screen} * 2);
      width: clamp(calc(220px - #{$padding-screen}), calc(30% - #{$padding-screen}), calc(400px - #{$padding-screen}));

      .button-secondary {
        width: calc(100% - #{$padding-screen});
      }
    }
  }
}
