header .img-landscape {
  width: 75%;
  display: block;
  margin: 0 auto $margin-mobile;

}
@media screen and (min-width: $bp-medium ){
  header {
    margin: $margin-screen 0;
    
    .img-landscape {
      width: 45%;
    }
  }
}