/* BOUTIQUE */
.shop {
  display: flex;
  flex-direction: column;
  margin: $margin-screen auto;

  &-navigation {
    background-color: rgba($c-neutral, 0.3);
    padding: $padding-mobile;
    
    .searchbar {
      width: 100%;
      padding: calc(#{$padding-mobile} / 1.5) $padding-mobile;
      color: $c-lightgrey;
      border: none;
      border-radius: 5px 5px 0 0;
      border-bottom: 2px solid $c-secondary;
      background-color: $c-white;

      font-size: 1em;
      font-family: $font-text;
      transition: $t-basic;

      &::placeholder {
        color: $c-lightgrey;
      }

      &:focus, &:hover {
        border: none;
        border-bottom: 2px solid $c-primary;
        outline: $c-primary;      
      }
    }

    &-sections {
      position: sticky;
      top: $margin-mobile;
    }

    &-section li a {
      line-height: 2rem;
      color: $c-darkgrey;
      text-decoration-color: transparent;

      &:hover {
        text-decoration-color: $c-primary;
      }
    }
  }

  h3 {
    font-size: $font-medium;
    padding: $padding-mobile 0;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    padding: $padding-mobile;
    justify-content: center;
  }
  
  .card {
    position: relative;
    padding: calc(#{$padding-mobile} / 2) calc(#{$padding-mobile} / 2) calc(#{$padding-mobile} * 2);
    width: clamp(calc(220px - #{$padding-mobile}), calc(30% - #{$padding-mobile}), calc(400px - #{$padding-mobile}));

    .button-secondary {
      position: absolute;
      bottom: 0;
      width: calc(100% - #{$padding-mobile});
      border-radius: 0 0 5px 5px;

      &:hover {
        background-color: $c-primary;
      }
    }
  }
}

@media screen and (min-width: $bp-medium){
  .shop { 
    border: 5px solid $c-neutral;
    width: clamp(200px, 100%, 1200px);
    flex-direction: row;
    //padding: $padding-mobile;
    justify-content: center;

    &-navigation {
      flex: 1 25%;
      padding: $padding-screen;
      white-space: nowrap;
      
      &-sections {
        top: $margin-screen;
      }

      &-section {
        padding: 0 0 $padding-screen 0;
      }
    }

    .cards, p {
      flex: 2;
      padding: $padding-screen;
    }

    .card {
      padding: calc(#{$padding-screen} / 2) calc(#{$padding-screen} / 2) calc(#{$padding-screen} * 2);
      width: clamp(calc(220px - #{$padding-screen}), calc(30% - #{$padding-screen}), calc(400px - #{$padding-screen}));

      .button-secondary {
        width: calc(100% - #{$padding-screen});
      }
    }
  }
}
