.shop-news-block {
  margin-top: calc(#{$margin-mobile} / 2);
  height: 300px;
  background-size: cover;
  position: relative;
  
  &-desc {
    background-color: rgba($c-white, 1);
    padding: $padding-mobile;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-transform: uppercase;
    font-size: $font-medium;
    text-align: center;

    &--title {
      color: $c-primary;
      font-size: 1rem;
      font-weight: 800;
    }

    p {
      margin: 1rem 0;
    }

    time {
      display: block;
      text-align: right;
      text-transform: initial;
      font-style: italic;
      font-size: .9rem;
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .shop-news-block {
    &-desc {
      width: max(350px, 40%);

      time {
        font-size: 1rem;
      }
    }
  }  
}