/* SVG */
.svg-flower {
  position: fixed;
  top: 0;
  right: -40vw;

  stroke-width: 2px;
  stroke: $c-primary;
  stroke-dasharray:450;
  stroke-dashoffset: 420;
}

.hero-logo {
  width: 80%;
  display: block;
  margin: auto;
}

.logo {
  width: 40%;
  display: block;
  margin: auto;
}

.icon-mini img {
  min-width: 24px;
  max-width: 1.5rem;
  filter: invert(100%) sepia(0%) saturate(6256%) hue-rotate(311deg) brightness(105%) contrast(96%);
  transition: $t-basic;
  
  &:hover {
    filter: invert(9%) sepia(90%) saturate(3830%) hue-rotate(348deg) brightness(98%) contrast(102%);
  }
}

.picture-wrapper {
  position: relative;
}

.svg-trace {
  position: absolute;
}

.img-landscape {
  margin: calc(#{$margin-screen} / 2) auto;
}

@media screen and (min-width: $bp-medium){
  .hero-logo {
    width: 50%;
  }

  .logo {
    width: 25%
  }
}