/**
 *  VARIABLES CODES
 * c-: colors
 * p-: paragraph
 * bp: breakpoint
 */

/* Margins & paddings */
$padding-mobile: 1rem; 
$padding-screen: 2rem;
$margin-mobile: 2.5rem; 
$margin-screen: 5rem;

/* Colors*/ 
$c-primary: #8d0c22;
$c-secondary : #e2917a;
$c-tertiary: #D39857;
$c-neutral: #f4ece9;
$c-darkgrey : #746663;
$c-lightgrey : rgb(160, 159, 159);
$c-white: #fafafa;
$c-black : #423133;

$c-success: rgb(102, 141, 12);
$c-alert: rgb(141, 12, 34);

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&family=Quicksand:wght@300;400&display=swap');
$font-text: 'Raleway', sans-serif;
$font-title: 'Quicksand', sans-serif;

// only texts (for headings, see librairy-styles.scss)
$font-xsmall: .8rem;
$font-small: .8rem;
$font-medium: 1.2rem;
$font-large: 2rem;

// transition
$t-basic: all 200ms ease-in-out;


/* Breakpoints */
$bp-small: 360px;
$bp-medium: 800px;
$bp-large: 1200px;


@media screen and (min-width: $bp-medium) {
  $font-medium: 1.4rem;
}

